
# Git
.editorconfig export-ignore
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore

# npm & composer
package.json export-ignore
yarn.lock export-ignore
composer.lock export-ignore
.yarnclean export-ignore

# build
vite.config.js export-ignore

# Directories
scripts/ export-ignore
src/panel/ export-ignore

# Tests
.codecov.yml export-ignore
.php_cs export-ignore
phpmd.xml.dist export-ignore
phpunit.xml.dist export-ignore
psalm.xml.dist export-ignore
tests/ export-ignore
