
# Git
.editorconfig export-ignore
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore

# npm & composer
package.json export-ignore
yarn.lock export-ignore
composer.lock export-ignore

# Directories
config/samples.php export-ignore
src/assets/ export-ignore
src/components/ export-ignore
src/helpers/ export-ignore
src/mixins/ export-ignore
src/store/ export-ignore
src/index.js export-ignore
