# OS files
.DS_Store

# npm modules
/node_modules

# composer
/vendor

# Parcel cache folder
.cache

# Tests
.php_cs.cache
.phpunit.result.cache

# editors
*.sublime-project
*.sublime-workspace
/.vscode
/.idea
