.rt-chart {
  margin-top: -0.5rem;
  padding: 1rem 1rem 1.5rem;
}

.rt-chart figcaption {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: -124px;
}

.rt-chart figcaption > div {
  display: flex;
}
.rt-chart figcaption > div + div {
  margin-top: 0.25rem;
}

.rt-chart figcaption .k-icon {
  padding-right: 0.75rem;
}

.rt-chart .ct-series-c .ct-slice-pie,
.rt-chart .k-icon[data-type=failed] {
  color: var(--color-negative);
  fill: var(--color-negative);
  fill-opacity: 0.85;
}

.rt-chart .ct-series-a .ct-slice-pie,
.rt-chart .k-icon[data-type=redirected] {
  color: var(--color-focus);
  fill: var(--color-focus);
  fill-opacity: 0.85;
}

.rt-chart .ct-series-b .ct-slice-pie,
.rt-chart .k-icon[data-type=resolved] {
  color: var(--color-border);
  fill: var(--color-border);
  fill-opacity: 0.85;
}

.rt-chart .ct-series {
  stroke: #2b2b2b;
  stroke-width: 0.2rem;
}

.rt-chart .ct-series-d .ct-slice-pie {
  fill: #3d3d3d;
}.rt-timeline {
  padding: 0.75rem 0;
}

.rt-timeline .chart > svg {
  margin-left: -1rem;
}

.rt-timeline .ct-grid,
.rt-timeline .ct-label {
  color: #777;
  stroke: #777;
  stroke-dasharray: 2px;
}

.rt-timeline .ct-label.ct-vertical.ct-start {
  font-size: 0.8rem;
  padding-left: 1rem;
}

.rt-timeline .ct-label.ct-horizontal.ct-end {
  display: block;
  transform: translateX(-50%);
  text-align: center !important;
  text-anchor: middle !important;
  font-size: 0.8rem;
}

.rt-timeline .ct-series-a .ct-area {
  fill: var(--color-negative);
  fill-opacity: 0.85;
}

.rt-timeline .ct-series-e .ct-area {
  fill: var(--color-focus);
  fill-opacity: 0.85;
}

.rt-timeline .ct-series-c .ct-area {
  fill: var(--color-border);
  fill-opacity: 0.85;
}.retour-timeframe .k-dropdown-content {
  top: calc(100% + .5rem);
}.rt-stats [aria-current] {
  color: #fff;
  font-weight: 600;
}
.rt-stats [aria-current] .k-button-text {
  opacity: 1;
}.rt-stats {
  background: #2b2b2b;
  color: #fff;
}

.rt-stats > .k-view {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.rt-stats .k-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rt-stats .k-header-bar .k-button-group {
  margin: 0;
}.rt-view {
  padding-bottom: 6rem;
}

.rt-view > .k-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rt-tabs {
  margin-top: 1.5rem;
}.retour-table-filter {
  height: 1.1rem;
}

.retour-table-filter > * {
  border-bottom: 1px solid transparent;
}

.retour-table-filter .k-button-text {
  font-size: 1rem;
  font-weight: 600;
}

.retour-table-filter input {
  background: transparent;
  font-size: var(--font-size-medium);
  outline: none;
}

.retour-table-filter[data-focus] > input {
  border-bottom-color: #ccc;
  font-size: 0.875rem;
  padding: 0.1rem;
}.retour-table-status-preview {
  display: flex;
}
.retour-table-status-preview code {
  background: rgba(0, 0, 0, 0.1);
  color: var(--color-text);
  border-radius: 3px;
  box-decoration-break: clone;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);
  padding: 0.05em 0.5em;
}