.k-interval-day .k-button {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  color: #fff;
  line-height: 1.75rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid transparent;
}

.k-interval-day .k-button .k-button-text {
  opacity: 1;
}

.k-interval-day:hover .k-button {
  border-color: rgba(255, 255, 255, 0.25);
}

.k-interval-day[data-intersected] {
  background-color: rgba(255, 255, 255, 0.25);
}

.k-interval-day[aria-current] .k-button {
  color: var(--color-focus);
  border-color: var(--color-focus);
  font-weight: 500;
}

.k-interval-day[aria-selected] {
  background-color: var(--color-focus-light);
  color: #fff;
}

.k-interval-day[data-isstart] {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.k-interval-day[data-isend] {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}.rt-calendar {
  position: absolute;
  width: 16em;
  top: 2.2em;
  z-index: 100;
}

.rt-calendar-wrapper {
  position: relative;
}

.rt-calendar-label {
  display: flex;
  cursor: pointer;
}
.rt-calendar-label > .k-icon {
  margin-right: 0.75rem;
}.rt-stats [aria-current] {
  color: #fff;
  font-weight: 600;
}
.rt-stats [aria-current] .k-button-text {
  opacity: 1;
}.retour-chart figcaption {
  margin-top: -124px;
}

.retour-chart figcaption > div {
  display: flex;
}
.retour-chart figcaption > div + div {
  margin-top: 0.25rem;
}

.retour-chart figcaption .k-icon {
  padding-right: 0.75rem;
}

.retour-chart .ct-series-c .ct-slice-pie {
  fill: var(--color-negative);
  fill-opacity: 0.85;
}

.retour-chart .ct-series-a .ct-slice-pie {
  fill: var(--color-focus);
  fill-opacity: 0.85;
}

.retour-chart .ct-series-b .ct-slice-pie {
  fill: var(--color-border);
  fill-opacity: 0.85;
}

.retour-chart .ct-series {
  stroke: #3d3d3d;
  stroke-width: 0.2rem;
}

.retour-chart .ct-series-d .ct-slice-pie {
  fill: #333;
}.retour-timeline .chart > svg {
  margin-top: 0.5rem;
  margin-left: -0.75rem;
}

.retour-timeline .ct-grid,
.retour-timeline .ct-label {
  color: #777;
  stroke: #777;
}

.retour-timeline .ct-label.ct-vertical.ct-start {
  font-size: 0.8rem;
  padding-left: 1rem;
}

.retour-timeline .ct-label.ct-horizontal.ct-end {
  display: block;
  transform: translateX(-50%);
  text-align: center !important;
  text-anchor: middle !important;
  font-size: 0.8rem;
}

.retour-timeline .ct-series-a .ct-area {
  fill: var(--color-negative);
  fill-opacity: 0.85;
}

.retour-timeline .ct-series-e .ct-area {
  fill: var(--color-focus);
  fill-opacity: 0.85;
}

.retour-timeline .ct-series-c .ct-area {
  fill: var(--color-border);
  fill-opacity: 0.85;
}.retour-stats-box {
  background: #3d3d3d;
}.retour-table-filter {
  height: 1.1rem;
}

.retour-table-filter > * {
  border-bottom: 1px solid transparent;
}

.retour-table-filter input {
  background: transparent;
  font-size: var(--font-size-medium);
  outline: none;
}

.retour-table-filter[data-focus] > input {
  border-bottom-color: #ccc;
  font-size: 0.875rem;
  padding: 0.1rem;
}.retour-table-link-preview .k-icon-url {
  margin-right: 0.2rem;
  transform: scale(0.8);
  color: var(--color-border);
}
.retour-table-link-preview .k-icon-url:hover {
  color: var(--color-text-light);
}.retour-table-status-preview {
  display: flex;
}
.retour-table-status-preview code {
  background: rgba(0, 0, 0, 0.1);
  color: var(--color-text);
  border-radius: 3px;
  box-decoration-break: clone;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);
  padding: 0.05em 0.5em;
  margin-left: 0.5em;
}