<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"

    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
    stderr="true">

    <coverage ignoreDeprecatedCodeUnits="true">
        <include>
            <directory>./src/extensions</directory>
            <directory>./src/models</directory>
        </include>
        <exclude>
            <file>./src/extensions/api.php</file>
        </exclude>
    </coverage>

    <testsuites>
        <testsuite name="Classes">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
