<?xml version="1.0"?>
<psalm
    autoloader="tests/bootstrap.php"
    errorLevel="2"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="extensions" />
        <directory name="models" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <!-- Don't warn about "$this in a non-class context" in the config dir -->
        <InvalidScope>
            <errorLevel type="suppress">
                <file name="extensions/api.php" />
            </errorLevel>
        </InvalidScope>
    </issueHandlers>
</psalm>
